<form class="border border-light ">
    <div class="container-fluid">
        <p class="h4 mb-4 text-center">Contact Me</p>


        <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

        <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

        <label for="defaultSelect">Subject</label>
        <select id="defaultSelect" class="browser-default custom-select mb-4">
            <option value="" disabled="">Choose option</option>
            <option value="1" selected="">Web Design/Development Gig</option>
            <option value="2">Employer Inquiry</option>
            <option value="3">Simple Hello</option>
            <option value="3">Your Favorite Joke</option>

        </select>

        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>

        <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
            <!-- <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label> -->
        </div>

        <button class="btn btn-info btn-block" type="submit">Send</button>
    </div>
</form>