<form class="border border-light " [formGroup]="contactForm">
    <div class="container-fluid">
        <p class="h4 mb-4 text-center">Contact Me</p>


        <input type="text" formControlName="contactFormName" id="contactFormName"  class="form-control mb-4" placeholder="Name" mdbInputDirective [(ngModel)]="itemName">

        <input type="email" formControlName="contactFormEmail"  id="contactFormEmail"  class="form-control mb-4" placeholder="E-mail" mdbInputDirective [(ngModel)]="itemEmail">

        <label for="defaultSelect">Subject</label>
        <select formControlName="contactFormSelect" id="contactFormSelect"class="browser-default custom-select mb-4" mdbInputDirective [(ngModel)]="itemFormSelect" >
            <option value="" disabled="">Choose option</option>
            <option value="1" selected="">Web Design/Development Gig</option>
            <option value="2">Employer Inquiry</option>
            <option value="3">Simple Hello</option>
            <option value="3">Your Favorite Joke</option>

        </select>

        <textarea class="form-control rounded-0" formControlName="contactFormTextarea" id="contactFormTextarea"  rows="3" placeholder="Message" mdbInputDirective [(ngModel)]="itemTextarea"></textarea>

        <!-- <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" class="custom-control-input" id="contactFormCopy">
            <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label> -->
     <!-- </div> --> 

        <button  [disabled]="contactForm.invalid" (click)="onSubmit()" class="btn btn-info btn-block" type="submit">Send</button>
    </div>
</form>