<div class="container footer-div pt-5 px-0">

    <div class="text-center pt-3 ">
        <h4>Mike MacNevin</h4>
        <div class="social-div">
                <a href = "mailto: mikemacnevin@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/michaelmacnevin"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>

        </div>
    </div>
    
</div>