@import '../../../assets/master';


span {
    color: $mid-purple;
    a {
        color: $mid-purple;
        font-size: 3rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        i {
            transition: 0.3s;

        }
        i:hover {
            color: $light-purple;
        }
    }

}

