@import '../../../../assets/master';

h5 {
    margin-top:0px;
}
h2 {
    // font-family: "Domine", serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: right;

}
.progress-container {
    height: auto;
    margin-left: 0;
    .progress {
        border-radius: 0;
        height: 1.3rem;
        background-color: white;
        width:90%;
        margin: 0;
        align-items:center;

        .progress-label {
            width: 20%;
            font-size: 0.7rem;
            font-weight: bold;
            // color: $dark-blue;
            padding-right: 2rem;
            text-align: left;
            // font-family: "Domine", serif;
            p   {
                vertical-align: middle;
                padding-top: 5px;
                color: $theblue;
                font-weight: bold;
                margin-bottom: 0;


            }
        }

        .progress-bar {
            // background-color: $light-purple;
            height: 2vh;
            color: $light-green;
            background-color: $light-green;
            // border-top-right-radius: 7px;
            // border-bottom-right-radius: 7px;
            border-radius: 7px;
        }
    }
 }

 @media screen and (min-width: 768px) {
    .progress-container {
        height: 40vh;
    }

    
}

@media screen and (max-width: 768px) {
    h2 {
        text-align: center;
        margin-bottom: 15px;
    }
    .progress-container {
        justify-content: center;
        align-items: center;
        .progress {
            text-align: center;
            height: 25px;
            width:301px;
            .progress-label {
                margin-right: 0.2rem;
                font-size: 0.8rem;
                height: 25px;
                padding-left: 0;
                margin-bottom: 0;
            }
            .progress-bar {
                margin-left: 4px;

                height: 15px;
            }
        }
    }
}

@media screen and (max-width: 576px) {

    .progress-container {
        .progress {
            .progress-label {
                font-size: 0.6rem;
                height: 15px;
                margin-left: 0;
                p {
                    padding-top: 0;
                }
            }
            .progress-bar {
                height: 15px;
            }
        }
        margin-bottom: 3rem;
    }

}


@media only screen and (min-width : 576px) {
	.wow {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}

@media only screen and (min-width : 992px) {
    .progress-container {
        .progress {
            .progress-label {
                padding-right: 0.5rem;
            }
        }
    }

}