@import '../../../../assets/master';

h5 {
    margin-top:0px;
}
h2 {
    font-family: Bitter, serif;
    color: rgb(49, 27, 146);
    font-size: 2rem;
    font-weight: bold;
}

.skill-row {
    hr {
        border: 0; clear:both; display:block; width: 96%; background-color:$theblue; height: 1px;
        margin-left:0
    }
    color: $theblue;
    p {
        font-family: Bitter,serif;
        font-weight: bold;
    }
    th  {
        padding-right: 0.1rem;
        padding:0.1rem;

    }
  .td-one {
    padding:0.1rem;
    font-size:1rem;
    font-weight: bold;

  }
  .td-two {
      padding:0.1rem;
      font-family: Bitter, serif;
  }
    
}
.progress-container {
    height: auto;

    .progress {
        border-radius: 0;

        background-color: $off-white;
        width:90%;
        height: 5.09vh;


        .progress-label {
            width: 20%;
            font-size: 1rem;
            font-weight: bold;
            color: $dark-blue;
            padding-left: 5px;
            text-align: left;
            color: $off-white;

            // font-family: "Domine", serif;
            p   {
                font-family: Roboto, sans-serif;

                vertical-align: middle;
                padding-top: 5px;
                font-weight: bold;
                margin-bottom:0;

            }
        }

        .progress-bar {
            // background-color: $light-purple;
            height: 5vh;
            color: $light-green;
            background-color: $light-green;
            // border-top-right-radius: 7px;
            // border-bottom-right-radius: 7px;
            border-radius: 7px;
        }
    }
 }

 @media screen and (min-width: 768px) {
    .progress-container {
        height: 86vh;
    } 
}

@media screen and (min-width: 768px) and (max-width: 992px) { 
    .skill-row {
        .td-one {
            font-size:0.8rem;
        }
        .td-two {
            font-size: 0.7rem;
        }
    }


}

@media screen and (max-width: 768px) {
    h2 {
        text-align: center;
        margin-bottom: 15px;
    }
    .progress-container {
        margin-bottom:5rem;
        .progress {
            text-align: center;
            height: 25px;
            width: 386px;
            padding-right:2px;
            padding-left:2rem;
            margin: 0.2rem auto;
            .progress-label {
                margin-right: 0.2rem;
                font-size: 0.8rem;
                height: 25px;
                padding-left: 0;
            }
            .progress-bar {
                margin-left: 4px;
                height: 25px;
            }
        }
    }
}

@media screen and (max-width: 576px) {

    .progress-container {
        .progress {
            .progress-label {
                font-size: 0.6rem;
                height: 15px;
                margin-left: 0;
                p {
                    padding-top: 0;
                }
            }
            .progress-bar {
                height: 15px;
            }
        }
        margin-bottom: 3rem;
    }

}


@media only screen and (min-width : 576px) {
	.wow {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}

@media only screen and (min-width : 992px) {
    .progress-container {
        .progress {
            .progress-label {
                padding-right: 0.5rem;
            }
        }
    }

}