<!-- Card -->
<div>
        <div class="intro-div ">
                <div class="card">
                        <div class="view rgba-white-slight waves-light " mdbWavesEffect>
                        <!-- Card img -->
                                <img src="../../../assets/mike.jpg" class="mike-silly-img card-img-top" alt="Card image cap">
                                        <a>
                                                <div class="mask"></div>
                                        </a>
                        </div>
                        <!--Card content-->
                        <div class="card-body deep-purple darken-4">
                        <!--Title-->
                        <h4 class="card-title">Javascript Developer</h4>
        
                        <!--Text-->
                        <p class= "my-3">Web/UI Developer and Designer living in Northern Virginia.  Check out some of my work below! </p>
                      
                </div>
        </div>
        </div>
</div>
      <!-- Card -->

<!-- <div class="intro-div text-center">
        <h3><i class="fa fa-laptop"></i>Web/UI Developer</h3>
        <button class="btn">View Projects</button>
</div>  -->
