@import '../../../../assets/master';
.card {
    background-color: $light-purple;
}


.intro-div {
    margin-bottom: 1rem;
    hr {
        border: 1.5px solid $light-green;
        width: 100%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .img-holder {
        height: 60.04556%;
    }

    p {
        // color: $light-green;
        padding-top: 15px;
        padding-left: 2px;
        padding-right: 2px;
        text-align:center;
        margin-bottom: 0;
        color: white;

    }
    
    h4 {
        color: white;

        font-size: 1.5rem;
        margin-top: 0;
    }

    .card-text {
        margin-bottom:0;
    }

    .card-title {
        font-weight: bold;
        text-align: center;
        // color: #1de9b6;
        font-family: Bitter, serif;
        margin-bottom: 0;
    }

    .card-body {
        padding-top:0.5rem;
        padding-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .intro-button {
        background-color: $dark-blue;
    }

    mdb-card-text {
        text-align: center;
    }
  
    a >  button {
        background-color: $mid-purple;
        margin: 0 auto;
        color: $off-white
    }
    .btn-git {
        background-color: $github;
        color:$off-white;
        border-radius: 70%;
    }

    h4 {
        margin-bottom: 0;
    }
    
    .fa {
        font-size: 2rem;
        margin-left:0.2rem;
        margin-right:0.2rem;
    }
    
    .fa-facebook-official {
        color: rgba(66, 103, 178, 0.4);
    }
    
    .fa-github {
        // color: rgba(255, 255, 255, 0.4);
        color:$light-green;

    }
    
    .fa-envelope {
        // color: rgba(212,70,56, 0.3);
        // color: rgba(255, 255, 255, 0.4); 
        color:$light-green;

    }

}

@media screen and(max-width: 768px) {
    .projects-container {
        margin-left: 15px;
        margin-right: 15px;
    }
    .navbar-brand {
        margin-right: 0;
    }
    .intro-div {

        p {
            font-size:1rem;
        }
    }
    .card-title {
        text-align: center;
    }

    .card-body {
        font-size: 1.5rem;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}


@media screen and (min-width: 768px ) {
    .intro-div {
       .card {

           .card-body {
               padding-left: 0.5rem;
               padding-right: 0.5rem;
               .card-title {
                }
                p {
                    padding-top: 0.1rem;
                    font-size: 1rem;
                }
           }
       }
    }
    .card, .intro-div {
        height: 86vh;
    }    
    .view .mask {
        min-height: 300px;
    }

}
 

@media screen and (max-width: 768px ) {
    .intro-div {
        .card {
            margin: 0 auto;
            width: 301.6px;

        }
        p {
            font-size: 0.8rem;
            width:80%;
            margin: 0 auto;
        }
        h4 {
            font-size: 1rem;
        }
    }
    
    .rgba-white-slight.waves-light {
        min-height:300px;
    }
    h2.text-right {
        margin-top: 15px;
    }

}


@media screen and (max-width: 576px ) {
    .rgba-white-slight.waves-light {
        min-height:300px;
    }
}

@media screen and (min-width: 576px ) and (max-width: 768px) {

    .intro-div {
        .card {
           max-height: 70vh
        }
    }

}
