<!-- Card -->
<div class="intro-div ">
                <div class="card">
                        <div class="view rgba-white-slight waves-light img-holder " mdbWavesEffect>
                        <!-- Card img -->
                                <img src="../../../assets/mike.jpg" class="mike-silly-img card-img-top h-100" alt="Card image cap">
                                        <a>
                                                <div class="mask"></div>
                                        </a>
                        </div>
                        <!--Card content-->
                        <div class="card-body deep-purple darken-4 ">
                        <!--Title-->
                                <h4 class="card-title">Javascript Web Developer</h4>
                                <div class="social-div pt-1">
                                        <a href ="mailto: mikemacnevin@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                        <a href="https://github.com/mikeMacNevin?tab=repositories"><i class="fa fa-github" aria-hidden="true"></i></a>
                                        <!-- <a href="https://www.facebook.com/michaelmacnevin"><i class="fa fa-facebook-official" aria-hidden="true"></i></a> -->
                                </div>
                                <!--Text-->
                                <div class="d-flex flex-column justify-content-between">
                                        <p class="text-justify">Front-End Web Developer living in Northern Virginia focused on Node, Express, React, Angular, and other front-end solutions.</p>
                                
                                        <div class="text-center">

                                        </div>
                                </div>
                        </div>
                </div>
        </div>

      <!-- Card -->

<!-- <div class="intro-div text-center">
        <h3><i class="fa fa-laptop"></i>Web/UI Developer</h3>
        <button class="btn">View Projects</button>
</div>  -->
