.col-md-4 {

}


.app-container {
    
}

p {
    font-family: Raleway sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Bitter, serif;

}

.mobile-container {
	
    h2 {
        color: rgb(49, 27, 146);
        font-size: 2rem;
        font-weight: bold;
    }

}


@media screen and (max-width: 992px) {
    .app-container {
        max-width: 98%;
    }
}

@media only screen and (min-width : 576px) {
	.app-container {
		max-width: 99%;
		margin-left:15px;
		margin-right:5px;

    }
	.wow {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}