@import "../../../assets/master";

img {
}

button {
}

nav {
    background-color: $light-purple;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    h1 {
        font-family: Bitter, serif;
        color: $light-green;
        margin-bottom: -5px;
    }
    .container {
        max-width: 99%;
        margin-right: 15px;
    }
    .btn.btn-md {
        font-size: 0.7rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top:0.3rem;
        padding-bottom: 0.3rem;
        margin-top:0.3rem;
        margin-bottom: 0.5rem;
        color: $light-green;
    }

    .navbar-brand {
        padding-top:0;
        padding-bottom: 0;
        max-width: 100%;
    }


}

.third{
    padding-right: 0 ;
}

@media screen and (min-width: 768px) {
    img {
        width:100%
    }
    .container.flex-row {
        justify-content: space-between;
        padding-right: 0 !important;
        margin-right: 15px;
        margin-left:15px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        text-align: center !important;
        justify-content: center;
        .nav-container {
            margin-right: 0;
        }
        .container{
            justify-content: center;
            text-align: center !important;
            max-width: 100%;
            margin-right: -15px;

        }
        .brand-div {
            justify-content: center;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .navbar {

        .container {
            .brand-div {
                width: 33.333333%;
            }

            .navbar-nav {
            }

        } 
    }
}

@media screen and (max-width: 576px) {
    nav {

        .brand-div {
            text-align: center;
            justify-content: center;
        }
    }
}
