@import "../../../assets/master";

img {
    max-width:80%;
}

button {
}

nav {
    background-color: $light-purple;
    margin-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 0px;

    .container {
        padding: 0;
    }
    .row {
        width: 100%;
    }
    .navbar-brand {
        padding-top:0;
        padding-bottom: 0;
        max-width: 100%;
    }

    .navbar-collapse {
    
        .navbar-nav {
            
            button {
                // background-color: $mid-purple;
                margin-left:0;
                margin-right:0;
                font-family: Roboto sans-serif;

            }
       
            a {
                font-family: Roboto sans-serif;

                color: $dark-blue;
                font-size: 1rem !important;
                font-weight: bold;
                color: $off-white;
            }


        }
    }
}

.third{
    padding-right: 0 ;
}

@media screen and (min-width: 768px) {
    img {
        width:100%;
    }
}

