$dark-blue: #0E0D44;
// $purple: #7B287D;
$mid-purple: #7067CF;
$light-purple: #B7C0EE;
$light-green: #CBF3D2;

// $off-white: #f4f4f4;

$off-white: #F4F4ED;


$charcoal: #111;

/* SOCIAL ICONS*/
$twitter: #55acee;
$linked-in: #0082ca;
$github: #333;

$theblue:  rgba(49, 27, 146,1);
//#311b92

$light-green: #00A9A5;