
/* You can add global styles to this file, and also import other style files */

@import "./assets/master";
body {
    background-color: #E4DFDA
}

h2.text-right {
    font-weight: bold;
    color: $dark-blue;
}

