
<div class="container resume-container d-flex flex-column wow fadeInUp mx-auto" data-wow-duration="2s">

  
      
      <h4 class="text-center">Resume</h4>
      <div class="resume-div view overlay">
        <div class = "layer">
          <div class="mask d-flex flex-column justify-content-center">
            <a class="w-100 d-flex justify-content-center align-items-center" href="../assets/resume.pdf">
              <button type="button"  size="sm" mdbBtn class="deep-purple darken-4 mx-auto " mdbWavesEffect> Download</button>
            </a>
          </div>
        </div>

</div>
</div>

<!-- <object data="../assets/sample.pdf" type="application/pdf" width="100%" height="100%"> 
  <p>You don't have a PDF plugin to view in browser.<a href="../assets/sample.pdf">Download PDF</a></p>  
</object> -->