
<div class="container resume-container d-flex flex-column wow fadeInUp" data-wow-duration="2s">
  <div class="text-center wow bounceInUp">
    <img class="wow fadeInTopRight"  src ="../assets/resume-min.jpg"/>
    <p>Download

      <a href="../assets/resume.pdf">
        <button type="button"  size="sm" mdbBtn class="deep-purple darken-4 " mdbWavesEffect> PDF </button>
      </a>

  </p>
  </div>
</div>


<!-- <object data="../assets/sample.pdf" type="application/pdf" width="100%" height="100%"> 
  <p>You don't have a PDF plugin to view in browser.<a href="../assets/sample.pdf">Download PDF</a></p>  
</object> -->