@import '../../../assets/master';


.resume-container {
	height: 86vh;
	justify-content: center;

}
p {
    font-size: 1rem;
}

button {
    background-color: $mid-purple;
    color:$light-green;
	color: $off-white;

	box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 5px 0px, rgba(0, 0, 0, 0.6) 0px 2px 10px 0px
	0 2px 5px 0 rgba(0,0,0,0.8),0 2px 10px 0 rgba(0,0,0,0.6) ;
}



img {
    height: 66vh;
}



/* Disable WowJS on TABLET and DEKSTOP*/
@media only screen and (min-width : 576px) {

	.resume-container {
		padding-top: rem;
	}

	.wow {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}

@media only screen and (max-width : 768px) {
	.resume-container {
		padding-left: 0;
		padding-right: 0;
	}

}


@media only screen and (max-width : 576px) {
	.resume-container {
		justify-content: start !important;
		img {
			height: 77vh;
		}
	}

}